@page
@model SorteosTec.Pages.CompraModel
@{
}

@{
    Layout = null; // No layout for this page
}

<!-- PAGINA DE COMPRA -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/compra.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SorteosTec.styles.css" asp-append-version="true" />
</head>

<body>

    <header>

        <nav class="navbar">
            <a asp-page="/Home">Inicio</a>
            <a asp-page="/Manual">Manual</a>
            <a asp-page="/Tienda">Tienda</a>
        </nav>

        <a class="logo" asp-page="/Home">
            <img class="logo-azul" src="/imagenes/SorteosTecBlanco.png">
        </a>

    </header>

    <div class="background">

        <div class="container">

            <h2>Detalles del producto</h2>

            <div class="text-space">
                <ul>
                    <li>Descripción: </li>
                    <li>Precio real: </li>
                    <li>Precio virtual: </li>
                </ul>
            </div>

            <div class="select-space">
                <h2>Selecciona tu método de pago: </h2>
            </div>

            <form method="post">

                <div class="input-space">
                    <div class="input">
                        <input type="radio" id="option1" name="options" value="option1">
                        <label for="option1">Dinero real</label>
                    </div>

                    <div class="input">
                        <input type="radio" id="option2" name="options" value="option2">
                        <label for="option2">Monedas del juego</label>
                    </div>
                </div>

                <input class="button" type="submit" value="Comprar" />

            </form>

        </div>

    </div>

</body>

</html>