@page
@model SorteosTec.Pages.RegistroModel
@{
}

@{
    Layout = null; // No layout for this page
}

<!-- PAGINA DE REGISTRO -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SorteosTec.styles.css" asp-append-version="true" />
</head>

<body class="Registro">
    <div class="logo">
        <img src="/imagenes/SorteosTecBlanco.png" />
    </div>
    <div class="contenedor-principal">
        <div class="contenedor">
            <div class="titulo">¡Crea tu cuenta!</div>

            <form method="post">
                <div class="user-details">

                    <div class="input-box">
                        <span class="details">Nombre completo</span>
                        <input type="text" asp-for="UserRegistry.FullName" placeholder="Escribe tu nombre y apellido" >
                        <span class="spans-validaciones" asp-validation-for="UserRegistry.FullName"></span>
                    </div>

                    <div class="input-box">
                        <span class="details">Correo</span>
                        <input type="text" asp-for="UserRegistry.Email" placeholder="Escribe tu correo" >
                        <span class="spans-validaciones" asp-validation-for="UserRegistry.Email"></span>
                    </div>

                    <div class="input-box">
                        <span class="details">Usuario</span>
                        <input type="text" asp-for="UserRegistry.Username" placeholder="Crea un usuario">
                        <span class="spans-validaciones" asp-validation-for="UserRegistry.Username"></span>
                    </div>

                    <div class="input-box">
                        <span class="details">Contraseña</span>
                        <input type="text" asp-for="UserRegistry.Password" placeholder="Crea una contraseña" >
                        <span class="spans-validaciones" asp-validation-for="UserRegistry.Password"></span>
                    </div>

                    <div class="input-box">
                        <span class="details">Sexo</span>
                        <select asp-for="UserRegistry.Gender" >
                            <option value="" disabled selected class="disabled-texto">Selecciona tu sexo</option>
                            <option value="Masculino">Masculino</option> <!-- 0 -->
                            <option value="Femenino">Femenino</option> <!-- 1 -->
                            <option value="Otro">Otro</option> <!-- 2 -->
                        </select>
                        <span class="spans-validaciones" asp-validation-for="UserRegistry.Gender"></span>
                    </div>

                    <div class="input-box">
                        <span class="details">Fecha de nacimiento</span>
                        <input type="date" asp-for="UserRegistry.DateofBirth" placeholder="dd/mm/yyyy" value="1980-01-01" >
                        <span class="spans-validaciones" asp-validation-for="UserRegistry.DateofBirth"></span>
                    </div>

                    <!-- INPUT NUEVO ESTADO -->
                    <div class="input-box">
                        <span class="details">Estado</span>
                        <select asp-for="UserAddress.Estado" >
                            <option value="" disabled selected class="disabled-texto">Selecciona tu estado de residencia</option>
                            <option value="Aguascalientes">Aguascalientes</option>
                            <option value="Baja California">Baja California</option>
                            <option value="Baja California Sur">Baja California Sur</option>
                            <option value="Campeche">Campeche</option>
                            <option value="Chiapas">Chiapas</option>
                            <option value="Chihuahua">Chihuahua</option>
                            <option value="Ciudad de Mexico">Ciudad de México</option>
                            <option value="Coahuila">Coahuila</option>
                            <option value="Colima">Colima</option>
                            <option value="Durango">Durango</option>
                            <option value="Guanajuato">Guanajuato</option>
                            <option value="Guerrero">Guerrero</option>
                            <option value="Hidalgo">Hidalgo</option>
                            <option value="Jalisco">Jalisco</option>
                            <option value="Estado de Mexico">Estado de México</option>
                            <option value="Michoacan">Michoacán</option>
                            <option value="Morelos">Morelos</option>
                            <option value="Nayarit">Nayarit</option>
                            <option value="Nuevo Leon">Nuevo León</option>
                            <option value="Oaxaca">Oaxaca</option>
                            <option value="Puebla">Puebla</option>
                            <option value="Queretaro">Querétaro</option>
                            <option value="Quintana Roo">Quintana Roo</option>
                            <option value="San Luis Potosi">San Luis Potosí</option>
                            <option value="Sinaloa">Sinaloa</option>
                            <option value="Sonora">Sonora</option>
                            <option value="Tabasco">Tabasco</option>
                            <option value="Tamaulipas">Tamaulipas</option>
                            <option value="Tlaxcala">Tlaxcala</option>
                            <option value="Veracruz">Veracruz</option>
                            <option value="Yucatan">Yucatán</option>
                            <option value="Zacatecas">Zacatecas</option>
                        </select>
                    </div>

                    <!-- INPUT NUEVO CIUDAD -->
                    <div class="input-box">
                        <span class="details">Ciudad</span>
                        <input asp-for="UserAddress.Municipio" type="text" placeholder="Escribe tu ciudad de residencia" >
                    </div>

                </div>

                <div class="espacio-boton">
                    <input class="boton boton-registro" type="submit" value="Crear cuenta" />
                </div>

                <div class="registrar">
                    <a asp-page="Index">¿Ya tienes una cuenta?</a>
                </div>

            </form>

        </div>
    </div>
</body>

</html>

