@page
@model SorteosTec.Pages.HomeModel
@{
}

@*<div class="cuerpo">
        <div class="titulo-home-page">¡Juega para conseguir premios!</div>
        <div class="espacio-juego">
            <img class="imagen-juego" src="/imagenes/Videojuego.png" />
        </div>
</div>*@


<div class="cuerpo">
    
        <div class="titulo-home-page">¡Bienvenido a SorteosTec!</div>
        <div class="col izquierda">
            Left column content
        </div>
        <div class="col col-derecha">
            <div class="row row-derecha">
                <div class="col">
                    Right column content
                </div>
            </div>
            <div class="row">
                <div class="espacio-juego">
                    <img class="imagen-juego" src="/imagenes/Videojuego.png" />
                </div>
            </div>
        </div>
   
</div>
