@page
@model SorteosTec.Pages.HomeModel
@{
}

    <div class="titulo-home-page">¡Bienvenido a Sorteos Tec!</div>

        <div class="contenedor-texto">
            <p class="sobre">
                En Sorteos Tec nos interesa apoyar e incentivar la educación en México.
                ¡Juega y consigue puntos para ganar descuentos y así apoyar a los jóvenes del país!
            </p>
        </div>

    <div class="contenedor-imagen">
        <div class="espacio-juego">
            <img class="imagen-juego" src="/imagenes/Videojuego.png" />
        </div>
    </div>








