@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@{
    Layout = null; // No layout for this page
}

<!-- PAGINA DE LOGIN -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SorteosTec.styles.css" asp-append-version="true" />
</head>

<body class="Index">
    <div class="logo">
        <img src="/imagenes/SorteosTecBlanco.png" />
    </div>
    
    <div class="contenedor-principal">
        <div class="contenedor">
            <div class="titulo">¡Inicia sesión!</div>
          
            <form method="post">
                <div class="user-details">
                    <div class="input-box">
                    <span class="details">Usuario</span>
                    <input type="text" asp-for="UserDetails.Username" placeholder="Escribe tu usuario" required>
                    <span asp-validation-for="UserDetails.Username"></span>
                </div>

                <div class="input-box">
                    <span class="details">Contraseña</span>
                    <input type="password" asp-for="UserDetails.Password" placeholder="Escribe tu contraseña" required>
                    <span asp-validation-for="UserDetails.Password"></span>
                </div>
                </div>

                <div class="espacio-boton">
                    <input class="boton" type="submit" value="Iniciar sesión" />
                </div>

                <div class="registrar">
                    <a asp-page="Registro">¿Aún no tienes una cuenta?</a>
                </div>
                <!-- Mostrar errores de validación -->
                <div asp-validation-summary="All" class="text-danger"></div>
            </form>
        </div>
    </div>
</body>


</html>
