@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}


<div class="titulo-home-page">¡Juega para conseguir premios!</div>
<div class="espacio-juego">
     <img class="imagen-juego" src="/imagenes/Videojuego.png" />
</div>

