@page
@model SorteosTec.Pages.RegistroModel
@{
}

@{
    Layout = null; // No layout for this page
}

<!-- PAGINA DE REGISTRO -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SorteosTec.styles.css" asp-append-version="true" />
</head>

<body class="Registro">
    <div class="logo">
        <img src="/imagenes/SorteosTecBlanco.png" />
    </div>
    <div class="contenedor-principal">
        <div class="contenedor">
            <div class="titulo">¡Crea tu cuenta!</div>

            <form method="post">
                <div class="user-details">

                    <div class="input-box">
                        <span class="details">Nombre completo</span>
                        <input type="text" asp-for="UserRegistry.FullName" placeholder="Escribe tu nombre y apellido" required>
                        <span asp-validation-for="UserRegistry.FullName"></span>
                    </div>

                    <div class="input-box">
                        <span class="details">Correo</span>
                        <input type="text" asp-for="UserRegistry.Email" placeholder="Escribe tu correo" required>
                        <span asp-validation-for="UserRegistry.Email"></span>
                    </div>

                    <div class="input-box">
                        <span class="details">Usuario</span>
                        <input type="text" asp-for="UserRegistry.Username" placeholder="Crea un usuario" required>
                        <span asp-validation-for="UserRegistry.Username"></span>
                    </div>

                    <div class="input-box">
                        <span class="details">Contraseña</span>
                        <input type="text" asp-for="UserRegistry.Password" placeholder="Crea una contraseña" required>
                        <span asp-validation-for="UserRegistry.Password"></span>
                    </div>

                    <div class="input-box">
                        <span class="details">Sexo</span>
                        <select asp-for="UserRegistry.Gender"required>
                            <option value="" disabled selected class="disabled-texto">Selecciona tu sexo</option>
                            <option value="Masculino">Masculino</option>
                            <option value="Femenino">Femenino</option>
                            <option value="Otro">Otro</option>
                        </select>
                        <span asp-validation-for="UserRegistry.Gender"></span>
                    </div>

                    <div class="input-box">
                        <span class="details">Fecha de nacimiento</span>
                        <input type="date" asp-for="UserRegistry.DateofBirth" placeholder="Selecciona tu fecha de nacimiento" required>
                        <span asp-validation-for="UserRegistry.DateofBirth"></span>
                    </div>
                </div>

                <div class="espacio-boton">
                    <input class="boton boton-registro" type="submit" value="Crear cuenta" />
                </div>

                <div class="registrar">
                    <a asp-page="Home">Checanding</a>
                </div>

                <!-- Mostrar errores de validacion -->
                <div asp-validation-summary="All" class="text-danger"></div>
            </form>

        </div>
    </div>





</body>


</html>

