
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

* {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-height: 90px;
    position: sticky;
}

.navbar {
    display: flex;
    padding-left: 30px;
    position: sticky;
    top: 0;
}

    .navbar a {
        padding: 20px;
        text-decoration: none;
        font-size: 20px;
        color: black;
    }

        .navbar a:hover {
            font-weight: 500;
        }


.logo {
    margin-left: auto;
    padding-right: 30px;
}

    .logo img {
        height: 100px;
        filter: invert(100%);
    }

.title-space {
    padding: 15px;
    padding-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .title-space h1 {
        background-image: linear-gradient(145deg, #2b43f7, #7a9ef6);
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -webkit-text-fill-color: transparent;
    }